@font-face {
  font-family: "Zenarico";
  src: url("Zenarico-Texture.otf");
}
body {
  letter-spacing: 1px;
  background-color: rgb(221, 218, 213);
}

.container {
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  max-width: 600px;
  margin: 0 auto;
}

.wrapped {
  border: 1px solid #000;
  padding: 100px;
  margin: 100px;
}

.header {
  padding-top: 50px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.header__h1 {
  margin-bottom: 100px;
}

.header__h4 {
  font-size: 24px;
}

.Font-first {
}
.font-first__container {
  font-family: "Zenarico";
}
.font-first__h1 {
  font-weight: 100;
}

.font-first__p {
  font-weight: bold;
}

.font-fisrt__p-numbers {
  font-weight: 300;
  font-size: 18px;
}

.font-second__title {
  font-size: 24px;
  padding-top: 80px;
  padding-bottom: 30px;
  max-width: 350px;
  margin: 0 auto;
}

.Font-second {
}
.font-second__container {
  font-family: "Kode Mono", monospace;
}
.font-second__h2 {
  font-weight: 400;
}
.font-second__p {
  font-weight: 700;
}

.border-container {
  border: 2px solid black; /* Тут виберіть бажаний колір і товщину границі */
  padding: 10px; /* Це для збільшення простору між вмістом та границею */
  width: 800px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgb(213, 211, 206);
}

.icons__title {
  font-size: 24px;
  padding-top: 80px;
  padding-bottom: 30px;
  max-width: 100px;
  margin: 0 auto;
}
.icons {
  font-family: "Kode Mono", monospace;
}

.weather-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.weather-icon {
  font-size: 48px;
  margin-right: 20px;
}
.weather-details {
  flex: 1;
}
h2 {
  margin-top: 0;
}

@keyframes weatherAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes icon-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-card:first-child .weather-icon {
  animation: icon-animation 5s linear infinite;
}

.weather-icon:hover {
  animation: icon-animation 5s linear infinite;
}

.nav {
}
.ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  justify-content: right;
}
.ul__li {
}
.ul__li-a {
  font-size: 18px;
  font-weight: 500;
}

.weather-details__text:hover {
  color: rgb(208, 105, 31);
  transition: 0.5s;
  font-size: 26px;
}
